<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>WELCOME TO THE CLUB</h1>
		<p>Sign up <a href="/signup/create"> here </a></p>
		<p>Login <a href="/login"> here </a></p>
		<div><%= locals.errors %></div>
	</body>
</html>
