<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign Up Form</title>
	</head>
	<body>
		<h1>THE SIGN UP FORM!</h1>
		<%- include("partials/errors.ejs") %>
		<form action="/signup/create" method="POST">
			<label for="firstName">First Name</label>
			<input
				type="text"
				id="firstName"
				name="firstName"
				value="<%= locals.firstName %>"
			/>

			<label for="lastName">Last Name</label>
			<input
				type="text"
				id="lastName"
				name="lastName"
				value="<%= locals.lastName %>"
			/>

			<label for="email">Email</label>
			<input
				type="email"
				id="email"
				name="email"
				type="email"
				value="<%= locals.email %>"
			/>

			<label for="username">Password</label>
			<input type="username" id="username" name="username" />

			<label for="password">Password</label>
			<input type="password" id="password" name="password" />

			<label for="confirmPassword">Confirm Password</label>
			<input type="password" id="confirmPassword" name="confirmPassword" />
			<button type="submit">Create User</button>
		</form>
	</body>
</html>
